{{ define "main" }}
<main class="main showcase inner" data-sidebar-position="{{ $.Param "sidebarPosition" }}">
  <section class="showcase__section {{ if .Params.enableBio }}{{ if eq ($.Param "sidebarPosition") "left" }}mr{{ else }}lm{{ end }}{{ else }}lmr{{ end }}">
    {{ partial "showcase/show-nav" . }}
    {{ if eq .Permalink .FirstSection.Permalink }}
      {{ partial "showcase/show-pinned" . }}
    {{ else }}
      {{ partial "showcase/show-section" . }}
    {{ end }}
  </section>
  
  {{ partial "script/showcase-script" . }}
  <div class="hide">
    {{ partial "search/site-search" . }}
  </div>
</main>
{{ end }}