$kimbie: (
  footer-background-color: #84613daa,
  footer-color: #d3af86,
  link: #DC322F,
  link-hover: #DC322F,
  title-color: #7c5021,
  meta-color: #889b4a,
  body-color: #D3AF86,
  hr-color: #e3b583,
  body-background-color: #221a0f,
  backdrop-background-color: #362712,
  dropdown-border-top-color: #d3af86,
  dropdown-item-active-background-color: #fff,
  dropdown-content-background-color: #fff,
  dropdown-item-hover-background-color: #fff,
  dropdown-item-hover-color: #fff,
  dropdown-item-color: #d3af86,
  navbar-border-bottom-color: #d3af86,
  navbar-background-color: #645342,
  navbar-mobile-background-color: #fff,
  navbar-title-color: #d3af86,
  navbar-title-hover-color: #fff,
  navbar-title-active-color: #fff,
  navbar-menu-hover-background-color: #7e602c,
  navbar-dropdown-item-hover-color: #fff,
  sidebar-title-color: #9d2f23,
  sidebar-li-color: #7f5d38,
  taxo-title-color: #98676a,
  taxo-num-color: #d3af86,
  taxo-num-background-color: #6e583b,
  taxo-tags-background-color: #423523,
  taxo-tags-color: #f06431,
  taxo-series-background-color: #423523,
  taxo-series-color: #dc3958 ,
  taxo-categories-background-color: #423523,
  taxo-categories-color: #5B7E7A,
  breadcrumb-item-color: #fff,
  breadcrumb-background-color: #fff,
  breadcrumb-item-active-color: #fff,
  list-header-title-color: #fff,
  figcaption-color: #fff,
  figcaption-strong-color: #fff,
  single-hr-background-color: #fff,
  single-blockquote-border-color: #fff,
  single-header-title-color: #fff,
  single-contents-title-color: #fff,
  related-header-title-color: #fff,
  related-link-color: #fff,
  content-box-border-color: #fff,
  content-box-background-color: #fff,
  burger-menu-color: #fff,
  social-icon-color: #fff,
  social-icon-hover-color: #fff,
  pagination-link-color: #fff,
  pagination-background-color: #362712,
  pagination-disabled-color: #fff,
  pagination-number-color: #fff,
  terms-title-color: #fff,
  terms-tags-color: #fff,
  terms-categories-color: #fff,
  terms-series-color: #fff,
  terms-len-color: #fff,
  toc-label-color: #fff,
  toc-title-color: #fff,
  toc-vertical-line: #fff,
  toc-vertical-line-active: #fff,
  search-placeholder-color: #fff,
  search-color: #fff,
  search-icon-color: #fff,
  search-border-color: #fff,
  search-content-color: #fff,
  search-background-color: #fff,
  search-content-background-color: #fff,
  search-hover-background-color: #fff,
  search-highlight-color: #fff,
  selection-color: #fff,
  selection-background-color: #fff,
  archive-key-color: #fff,
  archive-type-color: #fff,
  archive-meta-color: #fff,
  archive-key-background-color: #fff,
  archive-type-background-color: #fff,
  archive-hover-line-color: #fff,
  gtt-color: #d3af86,
  gtt-background-color: #7f5d38,
  gtt-hover-color: #5f0d0d,
  gtt-hover-background-color: #84613daa,
  switch-background-color: #fff,
  switch-button-color: #fff,
  switch-active-color: #fff,
  gallery-mask-color: #fff,
  gallery-mask-background-color: #fff,
  contact-input-color: #fff,
  contact-input-background-color: #fff,
  contact-button-background-color: #fff,
) !default;