{{ if .Site.Params.custom_js }}
{{ range .Site.Params.custom_js }}
  {{ $custom_template := resources.Get . }}
  {{ if $custom_template }}
    {{ $custom_js := $custom_template | resources.Minify | resources.Fingerprint }}
    <script defer src="{{ $custom_js.RelPermalink }}"></script>
  {{ end }}
{{ end }}
{{ end }}

{{ $fuse := resources.Get "js/fuse.min.js" | resources.Fingerprint }}
<script defer src="{{ $fuse.RelPermalink }}"></script>

<script>
  "use strict";

  // theme change
  var  themeChange = function() {
    var localTheme = localStorage.getItem('theme');
    if (localTheme) {
      document.querySelectorAll('.select-theme__item').forEach(function(v, i) {
        v.classList.remove('is-active');
        v.addEventListener('click', function(e) {
          var selectedThemeVariant = e.target.text.trim();
          localStorage.setItem('theme', selectedThemeVariant);

          if (v.getAttribute('class').trim() === selectedThemeVariant) {
            return null;
          }

          document.getElementById('root').removeAttribute('class');
          document.getElementById('root').classList.add(`theme__${selectedThemeVariant}`);
          document.querySelector('.select-theme').childNodes.forEach(function (node ,i) {
            if (node.classList) {
              if (node.text.trim() === selectedThemeVariant) {
                if (!node.classList.contains('is-active')) {
                  node.classList.add('is-active');
                }
              } else {
                if (node.classList.contains('is-active')) {
                  node.classList.remove('is-active');
                }
              }
            }
          });

          if (window.mermaid) {
            if (selectedThemeVariant === "dark" || selectedThemeVariant === "hacker") {
              mermaid.initialize({ theme: 'dark' });
              location.reload();
            } else {
              mermaid.initialize({ theme: 'default' });
              location.reload();
            }
          }

          var utterances = document.querySelector('iframe');
          if (utterances) {
            utterances.contentWindow.postMessage({
              type: 'set-theme',
              theme: selectedThemeVariant === "dark" || selectedThemeVariant === "hacker" ? 'photon-dark' : 'github-light',
            }, 'https://utteranc.es');
          }
        });
      });

      document.querySelector('.select-theme').childNodes.forEach(function (node) {
        if (node.classList) {
          if (node.text && node.text.trim() === localTheme) {
            node.classList.add('is-active');
          } else {
            node.classList.remove('is-active');
          }
        }
      });
    }
  }

  // search
  var baseurl = null;
  {{ $siteBaseURL := .Site.BaseURL }}
  var siteBaseURL = JSON.parse({{ $siteBaseURL | jsonify }});
  var siteBaseChecker = /\/\w+\//i;
  var isSlug = siteBaseChecker.test(siteBaseURL);
  
  var runSearch = function() {
    {{ if .Site.IsMultiLingual }}
        var hasLangPostfix = location.pathname.includes("/{{.Site.Language.Lang}}");
        if (hasLangPostfix) {
          if (isSlug) {
            baseurl = location.origin + siteBaseURL.match(siteBaseChecker)[0] + "{{.Site.Language.Lang}}";
          } else {
            baseurl = location.origin + "/{{.Site.Language.Lang}}";
          }
        } else {
          if (isSlug) {
            baseurl = location.origin + siteBaseURL.match(siteBaseChecker)[0];
          } else {
            baseurl = location.origin;
          }
        }
    {{ else }}
        if (isSlug) {
          baseurl = location.origin + siteBaseURL.match(siteBaseChecker)[0];
        } else {
          baseurl = location.origin;
        } 
    {{ end }}

    var searchResults = null;
    var searchMenu = null;
    var searchText = null;
    
    {{ $enableSearchHighlight := ($.Param "enableSearchHighlight") }}
    var enableSearchHighlight = JSON.parse({{ $enableSearchHighlight | jsonify }});

    var fuse = null;

    function endsWith(str, suffix) {
      return str.indexOf(suffix, str.length - suffix.length) !== -1;
    }

    function initFuse() {
      if (!endsWith(baseurl, "/")) {
        baseurl = baseurl + '/';
      };

      var xhr = new XMLHttpRequest();
      xhr.open('GET', baseurl + "index.json");
      xhr.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
      xhr.onload = function () {
        if (xhr.status === 200) {
          fuse = new Fuse(JSON.parse(xhr.response.toString('utf-8')), {
            keys: ['title', 'description', 'content'],
            includeMatches: enableSearchHighlight,
            shouldSort: true,
            threshold: 0.4,
            location: 0,
            distance: 100,
            maxPatternLength: 32,
            minMatchCharLength: 1,
          });
        }
        else {
          console.error(`[${xhr.status}]Error:`, xhr.statusText);
        }
      };
      xhr.send();
    }

    function renderSearchResults(results) { // [{}, {}, ...] or [{item: {}, matches: []}, ...]
      searchResults = document.getElementById('search-results');
      searchMenu = document.getElementById('search-menu');
      searchResults.setAttribute('class', 'dropdown is-active');

      var content = document.createElement('div');
      content.setAttribute('class', 'dropdown-content search-content');

      if (results.length > 0) {
        results.forEach(function (result) {
          var item = document.createElement('a');
          item.setAttribute('href', result.uri);
          item.setAttribute('class', 'dropdown-item');
          item.innerHTML = `<div class="menu-item"><div class="menu-item__title">📄 ${result.title}</div><div class="menu-item__desc">${result.description ? result.description : result.content}</div></div>`;
          content.appendChild(item);
        });
      } else {
        var item = document.createElement('span');
        item.setAttribute('class', 'dropdown-item');
        item.innerText = 'No results found';
        content.appendChild(item);
      }

      while (searchMenu.hasChildNodes()) {
        searchMenu.removeChild(
          searchMenu.lastChild
        );
      }
      searchMenu.appendChild(content);
    }

    function renderSearchHighlightResults(results) {      
      searchResults = document.getElementById('search-results');
      searchMenu = document.getElementById('search-menu');
      searchResults.setAttribute('class', 'dropdown is-active');

      var content = document.createElement('div');
      content.setAttribute('class', 'dropdown-content search-content');

      if (results.length > 0) {
        results.forEach(function (result) {
          var item = document.createElement('a');
          item.setAttribute('href', result.item.uri);
          item.setAttribute('class', 'dropdown-item');
          item.innerHTML = `<div class="menu-item"><div class="menu-item__title">📄 ${generateHighlightedText(result.item.title, result.matches[0].indices)}</div><div class="menu-item__desc">${result.matches[1] ? generateHighlightedText(result.item.description, result.matches[1].indices) : result.matches[2] ? generateHighlightedText(result.item.content, result.matches[2].indices) : ''}</div></div>`;
          content.appendChild(item);
        });
      } else {
        var item = document.createElement('span');
        item.setAttribute('class', 'dropdown-item');
        item.innerText = 'No results found';
        content.appendChild(item);
      }

      while (searchMenu.hasChildNodes()) {
        searchMenu.removeChild(
          searchMenu.lastChild
        );
      }
      searchMenu.appendChild(content);
    }

    function renderSearchResultsMobile(results) {
      searchResults = document.getElementById('search-mobile-results');

      var content = document.createElement('div');
      content.setAttribute('class', 'mobile-search__content');

      if (results.length > 0) {
        results.forEach(function (result) {
          var item = document.createElement('a');
          item.setAttribute('href', result.uri);
          item.innerHTML = `<div class="mobile-search__item"><div class="mobile-search__item--title">📄 ${result.title}</div><div class="mobile-search__item--desc">${result.description ? result.description : result.content}</div></div>`;
          content.appendChild(item);
        });
      } else {
        var item = document.createElement('span');
        content.appendChild(item);
      }

      let wrap = document.getElementById('search-mobile-results');
      while (wrap.firstChild) {
        wrap.removeChild(wrap.firstChild)
      }
      searchResults.appendChild(content);      
    }

    function renderSearchHighlightResultsMobile(results) {
      searchResults = document.getElementById('search-mobile-results');

      var content = document.createElement('div');
      content.setAttribute('class', 'mobile-search__content');

      if (results.length > 0) {
        results.forEach(function (result) {
          var item = document.createElement('a');
          item.setAttribute('href', result.item.uri);
          item.innerHTML = `<div class="mobile-search__item"><div class="mobile-search__item--title">📄 ${generateHighlightedText(result.item.title, result.matches[0].indices)}</div><div class="mobile-search__item--desc">${result.matches[1] ? generateHighlightedText(result.item.description, result.matches[1].indices) : result.matches[2] ? generateHighlightedText(result.item.content, result.matches[2].indices) : ''}</div></div>`;
          content.appendChild(item);
        });
      } else {
        var item = document.createElement('span');
        content.appendChild(item);
      }

      let wrap = document.getElementById('search-mobile-results');
      while (wrap.firstChild) {
        wrap.removeChild(wrap.firstChild)
      }
      searchResults.appendChild(content);
    }

    function generateHighlightedText(text, regions) {
      if(!regions) return text;
      
      var content = '', nextUnhighlightedRegionStartingIndex = 0;

      regions.forEach(function(region) {
        content += '' +
          text.substring(nextUnhighlightedRegionStartingIndex, region[0]) +
          '<span class="search__highlight">' +
            text.substring(region[0], region[1] + 1) +
          '</span>' +
        '';
        nextUnhighlightedRegionStartingIndex = region[1] + 1;
      });

      content += text.substring(nextUnhighlightedRegionStartingIndex);

      return content;
    };

    initFuse();

    var searchElem = document.getElementById('search');
    var searchMobile = document.getElementById('search-mobile');

    searchElem.addEventListener('input', function(e) {
      if (!e.target.value) {
        document.getElementById('search-results').setAttribute('class', 'dropdown');
        return null;
      }

      if (window.innerWidth < 770) {
        return null;
      }

      searchText = e.target.value;
      var results = fuse.search(e.target.value);
      if (enableSearchHighlight) {
        renderSearchHighlightResults(results);
      } else {
        renderSearchResults(results);
      }
    });

    searchElem.addEventListener('blur', function() {
      if (window.innerWidth < 770) {
        return null;
      }
      setTimeout(function () {
        document.getElementById('search-results').setAttribute('class', 'dropdown');
      }, 100);
    });

    searchElem.addEventListener('click', function(e) {
      if (window.innerWidth < 770) {
        return null;
      }
      if (!e.target.value) {
        document.getElementById('search-results').setAttribute('class', 'dropdown');
        return null;
      }

      searchText = e.target.value;
      var results = fuse.search(e.target.value);
      if (enableSearchHighlight) {
        renderSearchHighlightResults(results);
      } else {
        renderSearchResults(results);
      }
    });
    
    function indexInParent(node) {
      var children = node.parentNode.childNodes;
      var num = 0;
      for (var i = 0; i < children.length; i++) {
        if (children[i] == node) return num;
        if (children[i].nodeType == 1) num++;
      }
      return -1;
    }

    var searchMenuElem = document.getElementById("search-menu");
    var activeItem = document.querySelector('#search-menu .dropdown-item.is-active');
    var activeIndex = null;
    var items = null;
    var searchContainerMaxHeight = 350;

    searchElem.addEventListener('keydown', function(e) {
      if (window.innerWidth < 770) {
        return null;
      }

      var items = document.querySelectorAll('#search-menu .dropdown-item');
      
      if (e.key === 'ArrowDown') {
        if (activeIndex === null) {
          activeIndex = 0;
          items[activeIndex].classList.remove('is-active');
        } else {
          items[activeIndex].classList.remove('is-active');
          activeIndex = activeIndex === items.length - 1 ? 0 : activeIndex + 1;
        }
        items[activeIndex].classList.add('is-active');

        let overflowedPixel = items[activeIndex].offsetTop + items[activeIndex].clientHeight - searchContainerMaxHeight;
        if (overflowedPixel > 0) {
          document.querySelector(".search-content").scrollTop = overflowedPixel;
        } else if (activeIndex === 0) {
          document.querySelector(".search-content").scrollTop = 0;
        }
      } else if (e.key === 'ArrowUp') {
        if (activeIndex === null) {
          activeIndex = items.length - 1;
          items[activeIndex].classList.remove('is-active');
        } else {
          items[activeIndex].classList.remove('is-active');
          activeIndex = activeIndex === 0 ? items.length - 1 : activeIndex - 1;
        }
        items[activeIndex].classList.add('is-active');
        
        let overflowedPixel = items[activeIndex].offsetTop + items[activeIndex].clientHeight - searchContainerMaxHeight;
        document.querySelector(".search-content").scrollTop = items[activeIndex].offsetTop;
      } else if (e.key === 'Enter') {
        var currentItemLink = items[activeIndex].getAttribute('href');
        if (currentItemLink) {
          location.href = currentItemLink;
        }
      }
    });

    searchMobile.addEventListener('input', function(e) {
      if (!e.target.value) {
        let wrap = document.getElementById('search-mobile-results');
        while (wrap.firstChild) {
          wrap.removeChild(wrap.firstChild);
        }
        return null;
      }

      searchText = e.target.value;
      var results = fuse.search(e.target.value);
      renderSearchResultsMobile(results);
      if (enableSearchHighlight) {
        renderSearchHighlightResultsMobile(results);
      } else {
        renderSearchResultsMobile(results);
      }
    });
  }
</script>