{{ define "main" }}
<header class="header">
  <h3 class="h3 terms__title">
    {{ .Title }}
  </h3>
  <div>
    {{ .Content }}
  </div>
</header>
</span>
<main class="main archive">
  <div class="archive__container">
    {{ $pages := (where .Site.RegularPages "Section" "talks") }}
    {{ $paginator := .Paginate ($pages.GroupByDate (.Site.Params.archiveGroupByDate | default "2006")) .Site.Params.archivePaginate }}

    {{ range ($paginator).PageGroups }}
    <span class="archive__key">{{ .Key }}</span>
    <ul class="archive__ul">
      {{ range .Pages }}
      <li class="talk__li">
        <span class="talk__meta">
          <span class="archive__type">{{ .Type }}</span>
          <span class="archive__date">{{ .Date.Format (i18n "archive-dateformat") }}</span>
        </span>
        <ul>
          <li>
            <a href="{{ .Permalink }}" class="talk__title talk__title--margin">{{ .Title }}</a>
          </li>
          <li class="talk__links">
            <ul>
              <li>
                <a href="{{ .Params.videoLink }}" class="talk__title p2">{{ .Title }}</a>
              </li>
              <li>
                <a href="{{ .Params.pptLink }}" class="talk__title p2">{{ .Title }}</a>
              </li>
              <li>
                <a href="{{ .Params.eventLink }}" class="talk__title p2">{{ .Title }}</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
  <div class="grow"></div>
  {{ partial "pagination/pagination" . }}
  <div class="hide">
    {{ partial "search/site-search" . }}
  </div>
  {{ partial "script/archive-script" . }}
</main>
{{ end }}