.pub {
  padding: 0.75rem 1.5rem;

  &__section {
    @include flexbox();
    @include flex-direction(column);
  }
  
  &__toolbar {
    &--search {
      width: 240px;
      padding: 0 0.5rem;
      margin-right: 1rem;
      
      @media only screen and (max-width: 600px) {
        width: 100%;
      }
    }
  }

  &__body {
    margin: 1rem 0;
  }

  &__item {
    margin: 1rem;
    padding: 0.5rem 0;

    @include flexbox();
    @include flex-direction(column);
  }
}