@font-face {
  font-family: "NanumGothicCoding-Bold";
  src: url("../fonts/NanumGothicCoding-Bold.woff") format("woff"),
    url("../fonts/NanumGothicCoding-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NanumGothicCoding";

  src: url("../fonts/NanumGothicCoding.woff") format("woff"),
    url("../fonts/NanumGothicCoding.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}